[tool.poetry]
name = "probabilistic-reconciliation"
version = "0.0.3"
description = "Probabilistic reconciliation of time series forecasts"
authors = ["Simon Dirmeier <sfyrbnd@pm.me>"]
readme = "README.md"
license = "Apache-2.0"
homepage = "https://github.com/dirmeier/reconcile"
keywords = ["probabilistic reconciliation", "forecasting", "timeseries", "hierarchical time series"]
classifiers=[
    "Development Status :: 1 - Planning",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]
packages = [{include = "reconcile"}]


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.poetry.dependencies]
python = "^3.9,<3.10"
blackjax = "^0.9.6"
chex = "^0.1.5"
flax = "^0.6.1"
optax = "^0.1.3"
pandas = "^1.5.1"
statsmodels = "^0.13.2"
numpy = "^1.23.4"
scipy = "^1.9.3"

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.20.0"
black = "^22.8.0"
flake8 = "^5.0.4"
flake8-pyproject = "^1.1.0.post0"
isort = "^5.10.1"
mypy = "^0.971"
bandit = "^1.7.4"
gpjax = "^0.5.0"
pytest = "^7.2.0"
pytest-cov = "^4.0.0"

[tool.poetry.group.examples.dependencies]
gpjax = "^0.5.0"


[tool.black]
line-length = 80
extend-ignore = "E203"
target-version = ['py39']
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''


[tool.isort]
profile = "black"
line_length = 80
include_trailing_comma = true


[tool.flake8]
max-line-length = 80
extend-ignore = ["E203", "W503"]
